#soustitre li {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    display: list-item;
    color: white;
    font-size: 12pt;
    background-color: #000000BB;
    /* text-shadow: -1pt 0 black, 0  1pt black,
                  1pt 0 black, 0 -1pt black; */
    /* text-shadow: black 0.1em 0.1em 0.1em; */
    /* -webkit-text-stroke: 1pt black; */
}

#soustitre .horsChamp {
    color: yellow;
}

#soustitre .bruit {
    color: red;
}
